<section id="home">
  <div class="container-fluid d-none d-md-block"></div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/img/image1.jpg" alt="first" class="item">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/image2.jpg" alt="second" class="item">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/image3.jpg" alt="third" class="item">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/image4.jpg" alt="fourth" class="item">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/img/image5.jpg" alt="fifth" class="item">
    </ng-template>
  </ngb-carousel>
</section>
